In [10]:
import  numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from pycountry_convert import country_name_to_country_alpha3, country_alpha2_to_country_name

In [11]:
data = pd.read_csv('./data/human_trafficking.csv', low_memory=False)

In [12]:
data.head()

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,meansOfControlDebtBondage,meansOfControlTakesEarnings,...,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,RecruiterRelationship,CountryOfExploitation,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther,recruiterRelationUnknown
0,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
1,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
2,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
3,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
4,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1

In [13]:
data.replace('-99', np.nan, inplace=True)
data.replace(-99, np.nan, inplace=True)

In [14]:
def get_alpha3(col):
    try:
        iso_3 =  country_name_to_country_alpha3(col)
    except:
        iso_3 = 'Unknown'
    return iso_3

def get_name(col):
    try:
        name =  country_alpha2_to_country_name(col)
    except:
        name = 'Unknown'
    return name

In [15]:
data['countryCitizenship'] = data['citizenship'].apply(lambda x: get_name(x))
data['alpha3Citizenship'] = data['countryCitizenship'].apply(lambda x: get_alpha3(x))

data['CountryOfExploitation'] = data['CountryOfExploitation'].apply(lambda x: get_name(x))
data['alpha3CountryOfExploitation'] = data['CountryOfExploitation'].apply(lambda x: get_alpha3(x))

In [16]:
data.columns

Index(['yearOfRegistration', 'Datasource', 'gender', 'ageBroad',
       'majorityStatus', 'majorityStatusAtExploit', 'majorityEntry',
       'citizenship', 'meansOfControlDebtBondage',
       'meansOfControlTakesEarnings', 'meansOfControlRestrictsFinancialAccess',
       'meansOfControlThreats', 'meansOfControlPsychologicalAbuse',
       'meansOfControlPhysicalAbuse', 'meansOfControlSexualAbuse',
       'meansOfControlFalsePromises', 'meansOfControlPsychoactiveSubstances',
       'meansOfControlRestrictsMovement', 'meansOfControlRestrictsMedicalCare',
       'meansOfControlExcessiveWorkingHours', 'meansOfControlUsesChildren',
       'meansOfControlThreatOfLawEnforcement',
       'meansOfControlWithholdsNecessities',
       'meansOfControlWithholdsDocuments', 'meansOfControlOther',
       'meansOfControlNotSpecified', 'meansOfControlConcatenated',
       'isForcedLabour', 'isSexualExploit', 'isOtherExploit', 'isSexAndLabour',
       'isForcedMarriage', 'isForcedMilitary', 'isOrganRemoval',
       'isSlaveryAndPractices', 'typeOfExploitConcatenated',
       'typeOfLabourAgriculture', 'typeOfLabourAquafarming',
       'typeOfLabourBegging', 'typeOfLabourConstruction',
       'typeOfLabourDomesticWork', 'typeOfLabourHospitality',
       'typeOfLabourIllicitActivities', 'typeOfLabourManufacturing',
       'typeOfLabourMiningOrDrilling', 'typeOfLabourPeddling',
       'typeOfLabourTransportation', 'typeOfLabourOther',
       'typeOfLabourNotSpecified', 'typeOfLabourConcatenated',
       'typeOfSexProstitution', 'typeOfSexPornography',
       'typeOfSexRemoteInteractiveServices', 'typeOfSexPrivateSexualServices',
       'typeOfSexConcatenated', 'isAbduction', 'RecruiterRelationship',
       'CountryOfExploitation', 'recruiterRelationIntimatePartner',
       'recruiterRelationFriend', 'recruiterRelationFamily',
       'recruiterRelationOther', 'recruiterRelationUnknown',
       'countryCitizenship', 'alpha3Citizenship',
       'alpha3CountryOfExploitation'],
      dtype='object')

In [20]:
victimsCoutries = pd.DataFrame(data.groupby(['countryCitizenship', 'alpha3Citizenship'])['alpha3Citizenship'].agg(Victims='count')).reset_index()
victimsCoutries.sort_values('Victims', ascending=False)

                       countryCitizenship alpha3Citizenship  Victims
31                            Philippines               PHL    11365
42                                Unknown           Unknown     9136
40                                Ukraine               UKR     7761
26                   Moldova, Republic of               MDA     5901
41                          United States               USA     3636
7                                Cambodia               KHM     1979
17                              Indonesia               IDN     1971
3                                 Belarus               BLR     1463
27                                Myanmar               MMR     1250
32                                Romania               ROU      655
13                                  Ghana               GHA      544
21                             Kyrgyzstan               KGZ      437
5                                Bulgaria               BGR      342
16                                  Haiti               HTI      339
43                             Uzbekistan               UZB      261
44                               Viet Nam               VNM      170
15                          Guinea-Bissau               GNB      145
22       Lao People's Democratic Republic               LAO      126
9                                Colombia               COL      124
30                                Nigeria               NGA      108
39                                 Uganda               UGA       98
0                             Afghanistan               AFG       97
23                             Madagascar               MDG       94
35                              Sri Lanka               LKA       85
34                           Sierra Leone               SLE       81
33                                Senegal               SEN       70
37                               Thailand               THA       55
18                             Kazakhstan               KAZ       54
10  Congo, The Democratic Republic of the               COD       53
24                                   Mali               MLI       45
36                             Tajikistan               TJK       43
6                            Burkina Faso               BFA       33
19                                  Kenya               KEN       32
11                          Côte d'Ivoire               CIV       31
29                                  Niger               NER       31
28                                  Nepal               NPL       27
38                           Turkmenistan               TKM       26
8                                   China               CHN       23
1                                 Albania               ALB       22
25                                 Mexico               MEX       19
4         Bolivia, Plurinational State of               BOL       18
14                                 Guinea               GIN       15
12                                Eritrea               ERI       13
20                     Korea, Republic of               KOR       12
2                              Bangladesh               BGD       11

In [21]:
ExploitationCountries = pd.DataFrame(data.groupby(['CountryOfExploitation', 'alpha3CountryOfExploitation'])['alpha3CountryOfExploitation'].agg(Victims='count')).reset_index()
ExploitationCountries.sort_values('Victims', ascending=False)

        CountryOfExploitation alpha3CountryOfExploitation  Victims
55              United States                         USA    12512
56                    Unknown                     Unknown    11019
53                    Ukraine                         UKR     5399
31       Moldova, Republic of                         MDA     4504
38         Russian Federation                         RUS     2738
34                Philippines                         PHL     1988
20                  Indonesia                         IDN     1777
9                    Cambodia                         KHM     1000
29                   Malaysia                         MYS      930
16                      Ghana                         GHA      544
54       United Arab Emirates                         ARE      504
6                     Belarus                         BLR      400
48                   Thailand                         THA      391
40                    Senegal                         SEN      370
8                    Bulgaria                         BGR      356
17                      Haiti                         HTI      339
35                     Poland                         POL      326
39               Saudi Arabia                         SAU      278
37                    Romania                         ROU      259
41                     Serbia                         SRB      248
36                      Qatar                         QAT      239
24                 Kazakhstan                         KAZ      222
25                     Kuwait                         KWT      209
50                     Turkey                         TUR      197
32            North Macedonia                         MKD      194
57                 Uzbekistan                         UZB      193
52                     Uganda                         UGA      151
7      Bosnia and Herzegovina                         BIH      127
22                      Japan                         JPN      111
23                     Jordan                         JOR      108
33                       Oman                         OMN       94
28                 Madagascar                         MDG       94
49        Trinidad and Tobago                         TTO       85
0                 Afghanistan                         AFG       83
42               Sierra Leone                         SLE       81
10                      China                         CHN       79
26                    Lebanon                         LBN       73
47                 Tajikistan                         TJK       54
19                      India                         IND       46
45       Syrian Arab Republic                         SYR       41
12                    Czechia                         CZE       38
43                  Singapore                         SGP       37
44               South Africa                         ZAF       36
46  Taiwan, Province of China                         TWN       33
18                  Hong Kong                         HKG       31
51               Turkmenistan                         TKM       26
5                  Bangladesh                         BGD       26
21                      Italy                         ITA       24
3                     Austria                         AUT       24
4                     Bahrain                         BHR       22
1                     Albania                         ALB       22
30                  Mauritius                         MUS       20
2                   Argentina                         ARG       18
13                    Denmark                         DNK       17
58                   Viet Nam                         VNM       16
14                    Ecuador                         ECU       13
15                      Egypt                         EGY       13
11                     Cyprus                         CYP       11
27                      Libya                         LBY       11